<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="net.sf.seesea.model.core"
            class="geo.GeoPackage"
            genModel="model/X.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"
            contentTypeIdentifier="chart">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="seesea"
            id="extendedLibrary"
            name="Chart File"
            priority="normal">
         <describer
               class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter
                  name="namespace"
                  value="http:///net/sf/seesea/model/core/model/X.ecore/1.0.0">
            </parameter>
            <parameter
                  name="kind"
                  value="xmi">
            </parameter>
         </describer>
      </content-type>
   </extension>

</plugin>
