<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.sf.seesea.provider.navigation.nmea.ui.NMEAWizardHandler"
            id="net.sf.seesea.provider.navigation.nmea.ui.connect"
            name="Connect NMEA Device">
      </command>
      <command
            defaultHandler="net.sf.seesea.provider.navigation.nmea.ui.DisconnectHandler"
            id="net.sf.seesea.provider.navigation.nmea.ui.disconnect"
            name="Disconnect">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.seesea.provider.navigation.nmea.ui.connect"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F11">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sf.seesea.provider.navigation.nmea.ui.view.NMEARawDataLoggerView"
            icon="res/RawData.png"
            id="net.sf.seesea.provider.navigation.nmea.log.view"
            name="%LogViewName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.sf.seesea.provider.navigation.nmea.ui.ToggleLogRawDataHandler"
            id="net.sf.seesea.provider.navigation.nmea.ui.toggleRawLog"
            name="Toggle Raw Log">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.sf.seesea.provider.navigation.nmea.log.view?after=additions">
         <command
               commandId="net.sf.seesea.provider.navigation.nmea.ui.toggleRawLog"
               icon="res/RawData.png"
               label="%toggleRaw"
               style="toggle">
         </command>
      </menuContribution>
   </extension>

</plugin>
