<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.sf.seesea.navigation.ui.view.SensorDataView"
            icon="res/position.png"
            id="net.sf.seesea.navigation.ui.sensorData"
            name="%SensorData"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.seesea.navigation.ui.preferences.GeneralPreferencePage"
            id="net.sf.seesea.navigation.ui.settings"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.seesea.navigation.ui.preferences.GeneralPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
