<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sf.seesea.nmea.rcp.perspective.NMEADataLoggingPerspective"
            id="net.sf.seesea.nmea.perspective"
            icon="icons/nmea16.png"
            name="%NMEAPerspectiveName">
      </perspective>
   </extension>
   <extension id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.seesea.nmea.rcp.application.NMEALoggerApplication">
         </run>
      </application>
   </extension>
   <extension  id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.seesea.nmea.rcp.application"
            name="Data Logger">
         <property
               name="appName"
               value="Data Logger">
         </property>
         <property
               name="windowImages"
               value="icons/OpenSeaMapLogo_16.png,icons/OpenSeaMapLogo_32.png">
         </property>
         <property
               name="aboutText"
               value="Data Logger&#x0A;&#x0A;Version: 1.0&#x0A;&#x0A;(c) Copyright Jens Kübler 2010, 2012.  All rights reserved.&#x0A;Visit http://seesea.sourceforge.net/&#x0A;&#x0A;This product is licensed as FreeBSD. &#x0A;This product includes RXTX which is licensed as LGPL&#x0A;This product includes Bluecove which is licensed as Apache License 2.0&#x0A;This product contains works under Creative Commons Share Alike 2.5&#x0A;This product is based on Eclipse which is licensed as EPL&#x0A;This product includes icons derived from Larry Ewing drawings&#x0A;&#x0A;Parts of the product that are licensed otherwise may not be listed here.&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://apache.org/">
         </property>
         <property
               name="aboutImage"
               value="icons/OpenSeaMapLogo_32.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
          <activity
            id="net.sf.seesea.nmea.rcp.activityPatternBinding2"
            name="Disable Workbench Annotation Navigation">
             <enabledWhen>
                <with variable="activePartId">    
                <equals value="net.sf.seesea.nmea.rcp.noPartId">   
               </equals>
            </with>             
             </enabledWhen>
            </activity>
      <activityPatternBinding
            activityId="net.sf.seesea.nmea.rcp.activityPatternBinding2"
            pattern="org\.eclipse\.ui\.edit\.text\..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="net.sf.seesea.nmea.rcp.activityPatternBinding2"
            pattern="org\.eclipse\.ui\.navigate\..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="net.sf.seesea.nmea.rcp.activityPatternBinding2"
            pattern="org\.eclipse\.emf\..*">
      </activityPatternBinding>
   </extension>
   <extension
         id="icons/control-power_16x16.png"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="net.sf.seesea.nmea.rcp.toolbar2"
               label="mainBar">
            <command
                  commandId="net.sf.seesea.nmea.rcp.log.toggle"
                  icon="icons/Record.png"
                  label="%ToggleLogging"
                  style="toggle">
            </command>
            <command
                  commandId="net.sf.seesea.nmea.rcp.log.upload"
                  icon="icons/Upload64.png"
                  label="%UploadData"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/Preferences.png"
                  label="%command.label"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  icon="icons/Help64.png"
                  label="Help"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.sf.seesea.nmea.rcp.handler.ToggleLogEnablementHandler"
            id="net.sf.seesea.nmea.rcp.log.toggle"
            name="%ToggleLogging">
         <state
         class="org.eclipse.ui.handlers.RegistryToggleState:false"
         id="org.eclipse.ui.commands.toggleState">
   </state>
      </command>
      <command
            defaultHandler="net.sf.seesea.nmea.rcp.handler.UploadDataHandler"
            id="net.sf.seesea.nmea.rcp.log.upload"
            name="%UploadData">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>

</plugin>
