<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.seesea.osm.preferences.OpenStreetMapPreferencePage"
            id="net.sf.seesea.osm.config"
            name="Open Street Map">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.seesea.osm.preferences.OSMPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
